In [6]:
import pandas as pd
import numpy as np

In [7]:
mat = pd.read_csv("student-mat.csv", sep=";")
por = pd.read_csv("student-por.csv", sep=";")

In [8]:
mat.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [9]:
boys,girls = list(mat.sex).count('M'),list(mat.sex).count('F')
print('Boys is: ',boys)
print('Girls is: ',girls)

Boys is:  187
Girls is:  208

In [10]:
students_17_year_old= mat[((mat['G3']>=10) & (mat['G3']<=15))][mat['age']==17]['age'].count()
print(students_17_year_old)

59

In [11]:
top_10_students = mat.sort_values(by=['G1','G2','G3'], ascending=False).head(10)
boys_from_top_10=list(mat.sort_values(by=['G1','G2','G3'], ascending=False).head(10).sex).count('M')
print(top_10_students)
print('Boys is:',boys_from_top_10)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
47      GP   M   16       U     GT3       T     4     3    health  services
374     MS   F   18       R     LE3       T     4     4     other     other
42      GP   M   15       U     GT3       T     4     4  services   teacher
110     GP   M   15       U     LE3       A     4     4   teacher   teacher
113     GP   M   15       U     LE3       T     4     2   teacher     other
286     GP   F   18       U     GT3       T     2     2   at_home   at_home
129     GP   M   16       R     GT3       T     4     4   teacher   teacher
198     GP   F   17       U     GT3       T     4     4  services   teacher
245     GP   M   16       U     GT3       T     2     1     other     other
293     GP   F   17       R     LE3       T     3     1  services     other

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
47   ...      4        2      2     1     1      2        4  19  19  20
374  ...      5        4      4     1     1      1        0  19  18  19
42   ...      4        3      3     1     1      5        2  19  18  18
110  ...      5        5      3     1     1      4        6  18  19  19
113  ...      3        5      2     1     1      3       10  18  19  19
286  ...      4        3      3     1     2      2        5  18  18  19
129  ...      3        5      5     2     5      4        8  18  18  18
198  ...      4        2      4     2     3      2       24  18  18  18
245  ...      4        3      3     1     1      4        6  18  18  18
293  ...      3        1      2     1     1      3        6  18  18  18

[10 rows x 33 columns]
Boys is: 6

In [30]:
std = mat.absences[(mat['internet']=='yes') & (mat['romantic']=='yes')].std()
mean = mat.absences[(mat['internet']=='yes') & (mat['romantic']=='yes')].mean()
print('Std is:', std,'\nMean is: ', mean)

Std is: 11.25329203873895
Mean is:  8.155172413793103

In [13]:
student_counts_for_each_age =[]
thisset =set(mat.age.sort_values()) 
for x in thisset:
    student_counts_for_each_age.append(list(mat.age).count(x))
print('Student counts for each age',thisset, 'is',':',student_counts_for_each_age)

Student counts for each age {15, 16, 17, 18, 19, 20, 21, 22} is : [82, 104, 98, 82, 24, 3, 1, 1]

In [23]:
father, mother = mat[(mat["Fjob"] != "other") & (mat["Mjob"] != "other")]\
                    .groupby(['Fjob', 'Mjob']).count()\
                    .sort_values(by=["G1"], ascending=False)\
                    .reset_index()\
                    ["Fjob"][0],\
                mat[(mat["Fjob"] != "other") & (mat["Mjob"] != "other")]\
                    .groupby(['Fjob', 'Mjob']).count()\
                    .sort_values(by=["G1"], ascending=False)\
                    .reset_index()\
                    ["Mjob"][0]
print(father,mother)

services services

In [15]:
both_present=len(pd.merge(mat,por,how='inner',on=list(mat)[0:-3]))
print(both_present,'students')

39 students

In [16]:
GP_diff=abs(mat['G3'][mat.school=='GP'].mean()-por['G3'][por.school=='GP'].mean())
MS_diff=abs(mat['G3'][mat.school=='MS'].mean()-por['G3'][por.school=='MS'].mean())
print(GP_diff)
print(MS_diff)

2.0868608045953643
0.8026163909195851

In [21]:
corr_matrix = mat.corr(method='pearson').abs()
list_of_tuples = corr_matrix.unstack()\
                            .sort_values(ascending=False)\
                            .drop_duplicates()[1:6]\
                            .index.tolist()
top5_correlations = [sorted(list(elem)) for elem in list_of_tuples]
top5_correlations

[['G2', 'G3'], ['G1', 'G2'], ['G1', 'G3'], ['Dalc', 'Walc'], ['Fedu', 'Medu']]

In [22]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{boys} {girls}\n")
    file.write(f"{students_17_year_old}\n")
    file.write(f"{boys_from_top_10}\n")
    file.write(f"{round(mean, 3)} {round(std, 3)}\n")
    file.write(f"{student_counts_for_each_age}\n")
    file.write(f"{father} {mother}\n")
    file.write(f"{both_present}\n")
    file.write(f"{round(GP_diff, 3)} {round(MS_diff, 3)}\n")
    file.write(f"{top5_correlations}")